/**
------------------ RESET ---------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------*/

p {
  font-family: Arial;
  color: white;
  font-size:30px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
}

.imgleft {
  position: absolute;
  width: 50%;
}

.imgright {
  float:right;
  width: 50%;
}

.circle {
    width:200px;
    height:200px;
    border-radius:50%;
    color:#fff;
    line-height:200px;
    text-align:center;
    background:white;
    z-index:9999;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
    margin-bottom: 80px;

}

.child {
      flex: 1 0 50%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: stretch;
}

#rotationCircle1 {
  -webkit-animation: spin30 4000ms infinite linear;
  -moz-animation: spin30 4000ms infinite linear;
  -ms-animation: spin30 4000ms infinite linear;
}

#rotationCircle2 {
  -webkit-animation: spin0 4000ms infinite linear;
  -moz-animation: spin0 4000ms infinite linear;
  -ms-animation: spin0 4000ms infinite linear;
}

#rotationCircle3 {
  -webkit-animation: spin80 4000ms infinite linear;
  -moz-animation: spin80 4000ms infinite linear;
  -ms-animation: spin80 4000ms infinite linear;
}

@-moz-keyframes spin0 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin0 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin0 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes spin30 {
    from { -moz-transform: rotate(30deg); }
    to { -moz-transform: rotate(390deg); }
}
@-webkit-keyframes spin30 {
    from { -webkit-transform: rotate(30deg); }
    to { -webkit-transform: rotate(390deg); }
}
@keyframes spin30 {
    from {transform:rotate(30deg);}
    to {transform:rotate(390deg);}
}

@-moz-keyframes spin80 {
    from { -moz-transform: rotate(80deg); }
    to { -moz-transform: rotate(440deg); }
}
@-webkit-keyframes spin80 {
    from { -webkit-transform: rotate(80deg); }
    to { -webkit-transform: rotate(440deg); }
}
@keyframes spin80 {
    from {transform:rotate(80deg);}
    to {transform:rotate(440deg);}
}
