/**
------------------ RESET ---------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------*/

body {


}

nav {
  position:fixed;
  top: 0px;
  left: 0px;
  display: inline;
  padding: 5px 5px 0px 5px;
}

nav > * {
  display: inline;
  margin-right: 15px;
}

p, a, span {
  font-family: Arial;
  color: white;
  font-size:25px;
  line-height:30px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.26);
  mix-blend-mode: difference;
}

a {
  text-decoration: none;
}

.cvContent, .contactContent {
  display: none;
  padding-left: 5px;
}

.visible {
  display: inline;
}


.circle p, .circleleft p{
  line-height: 200px;
  opacity:0.2;
}

/* #circles-row {
	margin: -200px 0 0 200px; /*use width of circle here
} */

.imageThumbnailScrollarea-left {
  position:absolute;
  left: 0px;
  top:400px; /* positions image on yAxis */
  width: 50%; /* width of image */
  height: 100%;
}

.imageThumbnailScrollarea-right {
  position:absolute;
  right: 0px;
  top:1400px; /* positions image on yAxis */
  width: 50%; /* width of image */
  height: 100%;
}

.imageThumbnail{
  width: 100%;
  z-index: -2;
}

.clipProjecttitle {
  position: absolute;
  left: 0px; /* analog zu .imageThumbnailScrollarea */
  top:400px;  /* analog zu .imageThumbnailScrollarea */
  width: 50%;  /* analog zu .imageThumbnailScrollarea */
  height: 100%;  /* analog zu .imageThumbnailScrollarea */
  clip-path: inset(0px 0px 0px 0px);
}

.clipProjecttitle2 {
  position: absolute;
  right: 0px; /* analog zu .imageThumbnailScrollarea */
  top:1400px;  /* analog zu .imageThumbnailScrollarea */
  width: 50%;  /* analog zu .imageThumbnailScrollarea */
  height: 100%;  /* analog zu .imageThumbnailScrollarea */
  clip-path: inset(0px 0px 0px 0px);
}

.posYProjecttitle {
  position:fixed;
  top:200px; /* bestimmt die vertikale Positionierung von Projecttitle */
  left: inherit;
  width: inherit;
  height:333.33px;
}

.posYProjecttitle2 {
  position:fixed;
  top:600px; /* bestimmt die vertikale Positionierung von Projecttitle */
  left: inherit;
  width: inherit;
  height:333.33px;
}

.projecttitle {
  text-align: center;
  color:grey;
  opacity: 0.5;
  /* text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.9); */
}


.transparentBoxWithShadow{
  fill: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
  width:300px;
  height:300px;
  border-radius: 300px;
  z-index:99;
  position: absolute;
  top:1200px;
  left:800px;
}
.row {
	width: 33.3%;
	float: left;
}

.circleleft {
  position: absolute;
  top:10px;
  width:200px;
  height:200px;
  border-radius:50%;
  fill:none;
  line-height:200px;
  text-align:center;
  z-index:9999999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
}

.testCircle {
  position: absolute;
  top:200px;
  width:200px;
  height:200px;
  border-radius:50%;
  fill:none;
  line-height:200px;
  text-align:center;
  z-index:9999;
  background-color: red;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
}

.circles-row {
  position: absolute;
  top:0;
}

.circle, .circle0, .circle1, .circle2, .circle3, .circle4, .circle5  {
  position: absolute;
    width:200px;
    height:200px;
    border-radius:50%;
    color:#fff;
    line-height:200px;
    text-align:center;
    fill:none;
    z-index:9999;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
    float:right;
}

.circleBig {
  position: absolute;
  top:300px;
    width:600px;
    height:600px;
    border-radius:50%;
    color:#fff;
    line-height:200px;
    text-align:center;
    background:white;
    z-index:9999;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.26);
    float:right;
}

.image-bg {
  padding-bottom: 50px;
}

.textThumbnail {
  z-index: -3;
}

#project-name-pos1 {
  position: absolute;
  top:0;
  left:20%;
}

#project-name-pos2 {
  position: absolute;
  top: 60%;
  left:55%;
}

#project-name-pos3 {
  position: absolute;
  top: 40%;
  left:33%;
}

#project-name-pos4 {
  position: absolute;
  top: 220%;
  left:14%;
}



#rotationCircle1 {
  -webkit-animation: spin0 4000ms infinite linear;
  -moz-animation: spin0 4000ms infinite linear;
  -ms-animation: spin0 4000ms infinite linear;
}

#rotationCircle3 {
  -webkit-animation: spin80 4000ms infinite linear;
  -moz-animation: spin80 4000ms infinite linear;
  -ms-animation: spin80 4000ms infinite linear;
}

@-moz-keyframes spin0 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin0 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin0 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes spin30 {
    from { -moz-transform: rotate(30deg); }
    to { -moz-transform: rotate(390deg); }
}
@-webkit-keyframes spin30 {
    from { -webkit-transform: rotate(30deg); }
    to { -webkit-transform: rotate(390deg); }
}
@keyframes spin30 {
    from {transform:rotate(30deg);}
    to {transform:rotate(390deg);}
}

@-moz-keyframes spin80 {
    from { -moz-transform: rotate(80deg); }
    to { -moz-transform: rotate(440deg); }
}
@-webkit-keyframes spin80 {
    from { -webkit-transform: rotate(80deg); }
    to { -webkit-transform: rotate(440deg); }
}
@keyframes spin80 {
    from {transform:rotate(80deg);}
    to {transform:rotate(440deg);}
}
